/* Recent Messages (HomeScreen + Health) */
#recentMsgs {
  @extend %fullWidth;

  thead td {
    :nth-child(1) {
      width: 22px !important;  }
    :nth-child(2),
    :nth-child(3) {
      width: auto !important; }
  }

  tbody td {
    :nth-child(2),
    :nth-child(3) {
      font-size: 0; }
    :nth-child(2):before,
    :nth-child(3):before {
      content: attr(title);
      font-size: .7rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
  }

  /* recent messages no JS*/
  tbody td[title*="@"] {
    font-size: 0;
    &:after {
      content: attr(title);
      font-size: .7rem;
    }
  }
}
