$color-Header-bg: #535353;
$color-BoxInfo-bg: #B6E253;
$color-BoxInfo-br: #92D401;
$color-BoxWarning-bg: #FCF7DD;
$color-BoxWarning-br: #F6E896;
$color-BoxError-bg: #FCD8D8;
$color-BoxError-br: #F69696;
